<div class="wrapper">

<div class="navbar">
  <a [routerLink]="['']"><img class="nav-img" src="..\assets\img\Loop.PNG"></a>
  <a [routerLink]="['/about']"> About </a>
  <a [routerLink]="['/recipes']">Recipes </a>
  <a [routerLink]="['/requestquote']"> Request a Quote </a>
</div>


  <div class="content">
      <h1>Stephanie Baber</h1>
      <img src="..\assets\img\Smooch.jpg">
      <h1>About the Founder/Beverage Director</h1> 
      <h3>Stephanie is first and foremost a bartender. She started Loop + Lake with the idea that chic cocktail bar experiences are achievable in a multitude of settings. One of the things that has always intrigued her are the beautiful spaces in client's homes. She believes that all homes are made for entertaining and that you can transform a studio into a speakeasy.</h3>

      <h3>
          In her spare time, Stephanie enjoys walking the lakefront near her South Loop home, spending time with her husband and their two adorable kitties, Taco and Maisie, and traveling to collect new experiences every chance she gets.
      </h3>

      <h1>Experience</h1>
      <h3>
          Stephanie began bartending in Carbondale, IL while attending SIU as an advertising student. There, she learned that speed and attention to detail were invaluable. The love of hospitality grew from there and since moving back to Chicago in 2011, she's gained experience in many other facets of the industry. It's taken her from helping open a bar/restaurant, front of house management, catering, event planning, to beverage management and consultation. 
      </h3>

      <h3>
          One of her absolute favorite memories was her stage at The Aviary. "I feel like I learned so much in such a short amount of time there - and my first day must have been a fluke. One minute I was scrubbing down the pass, and the next I was toasting champagne with the entire staff, including Chef Achatz. We were celebrating a birthday. It was an incredible amount of hard work, but I loved every moment of it. I still have my first pay stub in a box I keep in my closet - I'll look at it when I need to re-align myself."

      </h3>

  </div>

  <div class="footer">
    <a href="https://www.instagram.com/loopandlake/" class="ib"  target="_blank"><img class="ib insta" src="..\assets\img\igIcon.png">  Cocktails</a> |  <a href="https://www.instagram.com/steph_baber/"  class="ib"  target="_blank">Cats <img class="ib insta" src="..\assets\img\igIcon.png"></a> 
  </div>


</div>