<div class="wrapper">

<div class="navbar">
  <a [routerLink]="['']"><img class="nav-img" src="..\assets\img\Loop.PNG"></a>
  <a [routerLink]="['/about']"> About </a>
  <a [routerLink]="['/recipes']">Recipes </a>
  <a [routerLink]="['/requestquote']"> Request a Quote </a>
</div>


  <div class="content">
      <h1>Stephanie Baber</h1>
      <img src="..\assets\img\Smooch.jpg">

      <h2>Stephanie has tons of experience. She's super cool, super hot, and makes bomb-ass cocktails. Before Stephanie rebranded Budweiser, they would always yell "WASSSSSUPPPPP" after each drink. Now that she has trained everyone, they say "Mmmm, yes, quite" after each sip. Bravo, Stephanie, Bravo! Stephanie's latest task has been to improve her husband's posture before he becomes the hunch back of Chicago.</h2>
  </div>

  


</div>