.wrapper{
    background-image: url("..\..\assets\img\dust_scratches.png");
    margin: 0;
    height: 100%;
    background-size: cover;
}

.content{
    max-width: 80%;
    text-align: center;
    margin: auto;
}

.ib{
    display: inline-block;
}

#intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(34, 55, 175, 0.911);
}

.navbar{
    background-color: darkblue;
    width: 100%;
    text-align: right;
    color: white;
}

.navbar > a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.nav-img{
    max-width: 100px;
    vertical-align: middle;
    margin: 10px 10px 10px 0px;
}

/* 34vw = 34% of view width. content was 80% wide, half is 45 with 2% margins. (80x0.45)-2 is how we get the height */
.half{
    width: 45%;
    height: 34vw;
    margin: 2%;
    vertical-align: top;
}


.half > img {
    max-width: 90%;
}

/* ========= HEIGHT IN PIXELS WILL CHANGE TO THE SIZE OF THE STANDARD IMAGE SIZE THE CLIENT DECIDES ON====== */

#bAndS{
    background-image: url("..\..\assets\img\BourbonAndSparklingCider.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 613px; */
}

.hover{
    vertical-align: middle;
    background-color: rgba(70, 70, 70, 0.746);
    font-size: 24px;
    color: white;
    height: 34vw;
    margin: -30px 0px 20px 0px;
}

#coffeeAmaro {
    background-image: url("..\..\assets\img\CoffeeAmaro.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 613px; */
}

.centerVertically{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    
}

/* =====FOOTER==== */
.footer{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.footer a {
    text-decoration: none;
}

.insta {
    max-width: 40px;
    vertical-align: middle;
}