.ib{
    display: inline-block;
}

.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(34, 55, 175, 0.911);
}

.half{
    width: 45%;
    margin: 2%;
    vertical-align: top;
}

.half > img {
    max-width: 90%;
}

h2, h3{
    color: black;
}
