*{
    margin: 0px;
}

.wrapper {
    background-image: url("..\..\assets\img\dust_scratches.png");
    height: 100%;
    margin: 0px;
    padding: 30px;
}

.content{
    max-width: 80%;
    text-align: center;
    margin: auto;
}

.ib{
    display: inline-block;
}

.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(34, 55, 175, 0.911);
}

.navbar{
    width: 100%;
    color: black;
    height: 80px;
}

.logo {
    text-align: left;
    vertical-align: middle;
}

.right{
    text-align: right;
    vertical-align: middle;
}

.right a{
    color: black;
    text-decoration: none;
    margin: 20px
}

.nav-img{
    max-width: 100px;
    vertical-align: middle;
    margin: 10px 10px 10px 0px;
    text-align: left;
}

.half{
    width: 45%;
    margin: 2%;
    vertical-align: top;
}

.half > img {
    max-width: 90%;
}
