<div class="wrapper">
<div class="navbar">
    <a class="half logo ib" [routerLink]="['']">Loop + Lake</a>
    <div class="half right ib">
        <a [routerLink]="['/about']"> About </a>
        <a [routerLink]="['/recipes']">Recipes </a>
        <a [routerLink]="['/requestquote']"> Request a Quote </a>
    </div>
  </div>





  <div class="content">
    <div class="intro">
        <h2>Founded in 2018, Loop + Lake is the art and presentation of exceptional cocktail making, specializing in:</h2>
        <br>  
        <h3>Spirits Education</h3>
          <h3>Classic Cocktail Fundamentals</h3>
          <h3>Beverage Consultation</h3>
          <h3>Event Beverage Planning</h3>
    </div>
    

      <div class="half ib">
          <h2>Bourbon and Sparkling Cider </h2>
          <img src="..\assets\img\BourbonAndSparklingCider.PNG">
        </div>
    
        <div class="half ib">
          <h2>Coffee Amaro</h2>
          <img src="..\assets\img\CoffeeAmaro.PNG">
        </div>
    
        <div class="half ib">
          <h2>Copper Toolset</h2>
          <img src="..\assets\img\CopperToolset.PNG">
        </div>
    
        <div class="half ib">
          <h2>Table Setting</h2>
          <img src="..\assets\img\TableSettings.PNG">
        </div>

  </div>
</div>