<div class="wrapper">
<div class="navbar">

    <a [routerLink]="['']"><img class="nav-img" src="..\assets\img\Loop.PNG"></a>
    <a [routerLink]="['/about']"> About </a>
    <a [routerLink]="['/recipes']">Recipes </a>
    <a [routerLink]="['/requestquote']"> Request a Quote </a>
  </div>

  <!-- make a click actionthing for request a quote. Once clicked, the request from will drop down at the bottom -->




  <div class="content">
    <img src="..\assets\img\Loop.PNG">
    <h2 id="intro">Loop and Lake provides small scale and large scale beverage consulting, hosting and serving, and staff-training services
      to ensure each cocktail is made properly and that each staff member has an in-depth knowledge of the spirits.</h2>

      <div class="half ib">
          <h2>Bourbon and Sparkling Cider </h2>
          <img src="..\assets\img\BourbonAndSparklingCider.PNG">
        </div>
    
        <div class="half ib">
          <h2>Coffee Amaro</h2>
          <img src="..\assets\img\CoffeeAmaro.PNG">
        </div>
    
        <div class="half ib">
          <h2>Copper Toolset</h2>
          <img src="..\assets\img\CopperToolset.PNG">
        </div>
    
        <div class="half ib">
          <h2>Table Setting</h2>
          <img src="..\assets\img\TableSettings.PNG">
        </div>

  </div>
</div>